.header {
  padding: 5px 20px;
  background-color: royalblue;
}

.title {
  color: aliceblue;
  text-decoration: none;
}

.login, .register {
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
}

.new-post, .logout {
  float: right;
  color: aliceblue;
  padding-top: 10px;
}

.new-post:hover, .logout:hover {
  color: aliceblue;
  text-decoration: none;
}
